<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.research.project.mapper.BasicDataMapper">
    
    <resultMap id="BaseResultMap" type="com.research.project.entity.BasicData">
        <id column="id" property="id"/>
        <result column="data_no" property="dataNo"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="field" property="field"/>
        <result column="description" property="description"/>
        <result column="source" property="source"/>
        <result column="format" property="format"/>
        <result column="size" property="size"/>
        <result column="file_path" property="filePath"/>
        <result column="institution_id" property="institutionId"/>
        <result column="is_shared" property="isShared"/>
        <result column="download_count" property="downloadCount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>
