<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.research.project.mapper.ProjectPerformanceMapper">

    <resultMap id="BaseResultMap" type="com.research.project.entity.ProjectPerformance">
        <id column="id" property="id" />
        <result column="project_id" property="projectId" />
        <result column="check_year" property="checkYear" />
        <result column="plan_progress" property="planProgress" />
        <result column="actual_progress" property="actualProgress" />
        <result column="progress_rate" property="progressRate" />
        <result column="budget_execution_rate" property="budgetExecutionRate" />
        <result column="achievement_count" property="achievementCount" />
        <result column="paper_count" property="paperCount" />
        <result column="patent_count" property="patentCount" />
        <result column="duplicate_rate" property="duplicateRate" />
        <result column="score" property="score" />
        <result column="level" property="level" />
        <result column="evaluator" property="evaluator" />
        <result column="evaluate_time" property="evaluateTime" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
